@charset "utf-8";

@media all and (min-width: 800px) {
    body {
        width: 800px;
        margin: auto;
    }
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #111;
    background-color: #fdfdfd;
}

header {
    text-align: center;
    background-image: url("/cvheaderback.jpeg");
    background-position: center;
    height: 16em;
}

#headshot {
    width: 12em;
    height: 12em;
    margin-top: 1.75em;
    border-radius: 6.5em;
    border-color: #eeeeee;
    border-style: solid;
    border-width: 0.3em;
}
