---
layout: default
home_comments: true
title: "Jupiter Dev Log"
---

<div class="home">

  <h1 class="page-heading">Jupiter Dev Log</h1>

  <ul class="post-list">
    {% assign all_posts = site.jupiter | sort: 'date' | reverse %}
    {% for post in all_posts %}
      <li>
        <span class="post-meta">

          {{ post.date | date: "%b %-d, %Y" }}

          <ul class="tags">
            {% for tag in post.tags %}
            <li>#{{ post.tags }}</li>
            {% endfor %}
          </ul>

        </span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl}}">{{ post.title }}</a>
        </h2>

        {{ post.excerpt }}

      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
